


.contact__wrap {
    margin-right: -230px;
    margin-left: -230px;
    padding-left: 230px;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #ffffff;
    background-color: #30333c;
    background-image: url(../img/contactback.png);
    background-repeat: no-repeat;


}

.contact__big {
    font-family: Lora, arial;
    font-size: 60px;
    font-weight: bold;
}

.contact__text {
    width: 620px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.contact__email {
    display: flex;
    width: 620px;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
}

.contact__email input {
    width: 600px;
    padding: 15px;
    border: none;
}

.contact__button {
    margin-left: auto;
    padding: 15px;
    color: #fff;
    background-color: #b50b1e;
    border-radius: 4px;
}