main {
    padding-left: 230px;
    padding-right: 230px;
}

.Genres {
    padding-top: 60px;
    padding-bottom: 90px;
}
.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 700;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -230px;
    width: 210px;
    height: 2px;
    background-color: #dddddd;
}

.section-title::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -32px;
    width: 12px;
    height: 12px;
    background-color: #dddddd;
    border-radius: 50%;
}

.Genres-station__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;
    padding-left: 0;    
    list-style: none;
}

.Genres_station {
    display: block;
    width: 220px;
    padding-top: 145px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center 30px;
}

.Genres_station:hover {
    color: #b50b1e; 
    background-color: #e1e1e1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
   }

.Genres-station__list li {
    margin-top: 25px;
}


.Genres__top {
    background-image: url(../Img/genres/Top.png);
}


.Genres__rock {
    background-image: url(../Img/genres/Rock.png);
}

.Genres__rnb {
    background-image: url(../Img/genres/RnB.png);
}

.Genres__alternative {
    background-image: url(../Img/genres/Alternative.png);
}

.Genres__country {
    background-image: url(../Img/genres/Country.png);
}

.Genres__pop {
    background-image: url(../Img/genres/Pop.png);
}

.Genres__jazz {
    background-image: url(../Img/genres/Jazz.png);
}

.Genres__reggae {
    background-image: url(../Img/genres/Reggae.png);
}

.button {
    margin: 0;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
 
   
}

.Genres__btn {
    min-width: 300px;
    margin-left: 320px;
    padding-top: 15px;
    padding-bottom: 12px;
    color: #c12127;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.Genres__btn:hover {
    color: #ffffff;
    background-color: #c12127;
}
