/*  HEADER  */


.page_header,
.brand,
.brand_link,
.brand_logo,
.navigation_wrapper,
.navigation {
  
  margin: 0;
  padding: 0;
  
}
.img {
  position: absolute;
  background-image: url("../Img/background-red.png");
  background-repeat: no-repeat;
  height: 640px;
  width: 1400px;
  background-size: cover;
    }
.poster {
   background-image: url("../Img/background-red.png");  
  height: 640px;
  width: 1400px;
  background-size: cover;  
}
video{
/*  background-image: url(../Img/TV.png);*/
  background-size: inherit;
  position: absolute;
  height: 630px;
  width: 1400px;
  background-size: cover;
}
.video-bgd {
  margin-right: 0px;
  margin-top: 0;
}

.page_header {
  display: flex;
  padding-left: 230px;
  padding-right: 230px;
  background-color: transparent;
  position: relative;
  padding-top: 30px;
  
}

/*  /HEADER  */

/*  BRAND  */

.brand {
  
  float: left;
  width: 180px;
  margin-left: 0;
  margin-top: 0;
   }

.brand_link {
  
  display: block;
  text-decoration: none;
  color: white;
  line-height: 0;
  }

.brand_logo {
display: inline-block;
width: 200px;
border: none;
outline: none;
    
}


/*  /BRAND  */

/*  NAVIGATION  */

.navigation_wrapper {
  
  float: right;
  display: block;
  width: 670px;
  margin: 0 15px;
  
}

.navigation {
  
  list-style: none;
  text-align: right;
  
}

.navigation_item {
  
  list-style: none;
  
}

.navigation_link {
  
  text-decoration: none;
  color: inherit;
  
}

.navigation-main {
  
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  
}

.navigation-main .navigation_item {
  
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
   font-size: 14px;
  line-height: 55px;
  text-transform: capitalize;
  
}

.navigation-main .navigation_item:last-child {
  
  margin-right: 0;
  
}

.navigation-main .navigation_link {
  
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  
}

.navigation-main .navigation__link--current, 
.navigation-main .navigation_link:hover {
  
  color: #c7b299;
  
}

/*  /NAVIGATION  */
/*  /TITLE  */

